@mixin color-yiq($color, $prop: 'color') {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= 150) {
    color: rgba(0, 0, 0, 0.87) !important;
  } @else {
    #{$prop}: #fff !important;
  }
}
