@import '../../../../../../assets/scss/variables';
@import '../../../../../../assets/scss/mixins/breakpoints';

.align-center {
  display: flex;
  align-items: center;
}

h3 {
  font-family: montserrat, serif;
  margin: 0;
  font-size: 20px;
}

h4 {
  font-family: montserrat, serif;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #818181;
}

.working-hours {
  display: inline-flex;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #818181;
  .open {
    color: map-get($colors, 'primary');
  }
}

p {
  margin: 0;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
}

.description {
  margin-top: 15px;
}

.action-buttons {
  display: flex;
  p {
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}

@include media-up(lg) {
  .description {
    margin-top: 0;
  }
}
