<div class="row align-center">
  <div class="col-xs-12 col-lg-6">
    <img [src]="item.image" alt="" class="img-fluid bg-primary shadow" />
  </div>
  <div class="col-xs-12 col-lg-6 description">
    <h3>{{ item.name }}</h3>
    <h4>{{ item.category }}</h4>
    <div class="working-hours">
      <p>Horario: {{ item.workHours }}</p>
      &nbsp;
      <span [ngClass]="{ 'open': item.isOpen }">{{
        item.isOpen ? 'Abierto' : 'Cerrado'
      }}</span>
    </div>
    <div class="action-buttons">
      <p class="stars">
        <i class="fa fa-star"></i>&nbsp;
        <span>{{ item.rating }}</span>
      </p>
      <p class="comments">
        <i class="fa fa-comments-o"></i>&nbsp;
        <span>{{ item.comments }}</span>
      </p>
    </div>
  </div>
</div>
